body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height:100%;

}

app-root {
  min-height: 100%;
  display: flex; 
  flex-direction: column; 
  margin:0;
  padding:0;
  overflow-y: auto;
}

router-outlet + * {
  flex: 2;

}

app-header { 
  flex:1;
  top: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

app-footer {
  flex:1;
  min-height: 132px;
  z-index: 1000;
  background:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) ;
}

app-signup{
  background:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) ;
}

html{
  height: 100%;
}

/*You can add global styles to this file, and also import other style files */
